*{
    --blue: #0A0F1D;
    --yellow: #F7DF1E;
    --white: #FFFFFF;
    background-color: var(--blue);
    --heading-font: "Teko";
    --text-font: "Averia Serif Libre";
    color: var(--white);
    font-family: var(--text-font);
}

header{
    height: 5vh;
}


#hero{
    height: 95vh;
    padding-top: 30vh;
}