body{
    --blue: #0A0F1D;
    --yellow: #F7DF1E;
    --white: #FFFFFF;
    background-color: var(--blue);
    --heading-font: "Teko";
    --text-font: "Averia Serif Libre";
    color: var(--white);
    font-family: var(--text-font);
}

header{
    height: 5vh;
}

#hero{
    height: 95vh;
    padding-top: 30vh;
}

.service-icon{
    font-size: 50px;
}

.social-icon{
    font-size: 30px;
    margin: 5px;
}

.social-icon:hover{
    color: var(--yellow);
}

.nav-link{
    color: var(--white) !important;
}

.nav-link:hover{
    color: var(--yellow) !important;
}

.card:hover{
    border-color: var(--yellow);
}

a{
    color: inherit;
}

.header-text{
    font-family: var(--heading-font);
    color: var(--yellow);
    font-weight: bold;
    letter-spacing: 2px;
}

.secondary-header-text{
    font-family: var(--heading-font);
    font-weight: 500;
    letter-spacing: 2px;
    /* margin-left: 20px; */
    margin-top: -20px;
}

.form{
    display: none;
}

.card:hover{
    scale: 1.05;
}